.curved-bottom {
  position: relative;
  padding-bottom: 8rem; 
}

.cur  { 
 
  border-bottom-right-radius: 100% 200px;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

